*.exe
*.dll
*.so
*.dylib
/yaylog
src-bundle

/bin/
/build/
/dist/
/out/
*.o
*.a
*.lo
*.la

*.tmp
*.temp
*.swp
*.swo
*.DS_Store

.vscode/
.idea/
*.iml

*.log

*.cover
*.test

.env
.env.*
*.local
*.bak

/vendor/

*.prof
*.pprof
*.trace

.lvim/
node_modules/

/.DS_Store

