pkgbase = yaylog
	pkgdesc = A CLI utility to list recently installed packages with filtering, written in Go.
	pkgver = 2.2.4
	pkgrel = 1
	url = https://github.com/Zweih/yaylog
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = MIT
	provides = yaylog
	conflicts = yaylog-git
	source_x86_64 = https://github.com/Zweih/yaylog/releases/download/v2.2.4/yaylog-x86_64.tar.gz
	sha256sums_x86_64 = 86bf85adb609241c5266ec99d57608db5010cf152d9bf7fbaaa447e894fbafd8
	source_aarch64 = https://github.com/Zweih/yaylog/releases/download/v2.2.4/yaylog-aarch64.tar.gz
	sha256sums_aarch64 = 7baebe779d9576897406dfb84b3fe5f3970469c12e7a337e582759bf3ae382fc
	source_armv7h = https://github.com/Zweih/yaylog/releases/download/v2.2.4/yaylog-armv7h.tar.gz
	sha256sums_armv7h = c2c3812b30afec21078df1db05532018555d068f6dc54b527631c88b0ba3e63a

pkgname = yaylog
